### Dataset

In [1]:
import pandas as pd

url = '../data/officials.csv'
sep = ','
df_referees = pd.read_csv(url, delimiter = sep)
print(f"The dataset has {df_referees.shape[0]} rows and {df_referees.shape[1]} columns")
df_referees.head()

FileNotFoundError: [Errno 2] No such file or directory: '../data/officials.csv'

In [2]:
df_referees2 = pd.DataFrame(columns=['game_id', 'official1_id', 'official1_first_name', 'official1_last_name', 'official1_jersey_num', 'official2_id', 'official2_first_name', 'official2_last_name', 'official2_jersey_num', 'official3_id', 'official3_first_name', 'official3_last_name', 'official3_jersey_num'])
lines_read = 0
count = 0
line = []
for row in df_referees.iterrows():
    if(lines_read == 3):
        df_referees2.loc[count] = [game_id, official1_id, official1_first_name, official1_last_name, official1_jersey_num, official2_id, official2_first_name, official2_last_name, official2_jersey_num, official3_id, official3_first_name, official3_last_name, official3_jersey_num]
        lines_read = 0
        count += 1
    else:
        if(lines_read == 0):
            game_id = row[1]['game_id']
            official1_id = row[1]['official_id']
            official1_first_name = row[1]['first_name']
            official1_last_name = row[1]['last_name']
            official1_jersey_num = row[1]['jersey_num']
        elif(lines_read == 1):
            official2_id = row[1]['official_id']
            official2_first_name = row[1]['first_name']
            official2_last_name = row[1]['last_name']
            official2_jersey_num = row[1]['jersey_num']
        else:
            official3_id = row[1]['official_id']
            official3_first_name = row[1]['first_name']
            official3_last_name = row[1]['last_name']
            official3_jersey_num = row[1]['jersey_num']
        lines_read += 1
df_referees2.head()

,game_id,official1_id,official1_first_name,official1_last_name,official1_jersey_num,official2_id,official2_first_name,official2_last_name,official2_jersey_num,official3_id,official3_first_name,official3_last_name,official3_jersey_num
0,29600059,1140,Bruce,Alexander,9.0,1165,Luis,Grillo,8.0,1153,Joe,Crawford,17.0
1,29600114,1142,Dick,Bavetta,27.0,1202,Tommie,Wood,39.0,1146,Tony,Brothers,56.0
2,29600121,1177,Ed,Middleton,18.0,1151,Sean,Corbin,64.0,1168,David,Jones,36.0
3,29600188,1165,Luis,Grillo,8.0,1153,Joe,Crawford,17.0,1167,Steve,Javie,29.0
4,29600213,1157,Terry,Durham,31.0,1176,Monty,McCutchen,58.0,1158,Hugh,Evans,25.0

In [3]:
game_ids = []
for g in df_referees2['game_id']:
    game_ids.append('00' + str(g))
df_temp = pd.DataFrame(game_ids, columns=['game_ID'])
df_referees2.drop('game_id', axis = 1, inplace = True)
df_complete = df_temp.join(df_referees2)
df_complete.rename(columns = {'game_ID' : 'game_id'}, inplace = True)
df_complete

,game_id,official1_id,official1_first_name,official1_last_name,official1_jersey_num,official2_id,official2_first_name,official2_last_name,official2_jersey_num,official3_id,official3_first_name,official3_last_name,official3_jersey_num
0,0029600059,1140,Bruce,Alexander,9.0,1165,Luis,Grillo,8.0,1153,Joe,Crawford,17.0
1,0029600114,1142,Dick,Bavetta,27.0,1202,Tommie,Wood,39.0,1146,Tony,Brothers,56.0
2,0029600121,1177,Ed,Middleton,18.0,1151,Sean,Corbin,64.0,1168,David,Jones,36.0
3,0029600188,1165,Luis,Grillo,8.0,1153,Joe,Crawford,17.0,1167,Steve,Javie,29.0
4,0029600213,1157,Terry,Durham,31.0,1176,Monty,McCutchen,58.0,1158,Hugh,Evans,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17737,0042200307,101284,John,Goble,10.0,1830,Marc,Davis,8.0,2530,Ed,Malloy,14.0
17738,0042200402,2004,Courtney,Kirkland,61.0,2534,Zach,Zarba,15.0,101284,John,Goble,10.0
17739,0042200403,201639,Josh,Tiven,58.0,202041,Kevin,Scott,24.0,1162,Scott,Foster,48.0
17740,0042200404,202058,James,Williams,60.0,1830,Marc,Davis,8.0,2530,Ed,Malloy,14.0
17741,0042200405,201639,Josh,Tiven,58.0,101284,John,Goble,10.0,200834,Mark,Lindsay,29.0

### Function that returns the first name and the last name of the three officials given a game id

In [4]:
import sys
sys.path.append('../src')
from functions import get_officials_by_game_id

get_officials_by_game_id('0029600059')

['Bruce Alexander', 'Joe Crawford', 'Luis Grillo']

### Function that returns all the information of the three officials given a game id

In [5]:
from functions import get_officials_by_game_id_complete

get_officials_by_game_id_complete('0029600059')

['1140 Bruce Alexander 9', '1153 Joe Crawford 17', '1165 Luis Grillo 8']

### Function that returns the first name and the last name of the first official given a game id

In [3]:
from functions import get_first_official_by_game_id

get_first_official_by_game_id('0029600059')

'Bruce Alexander'

### Function that returns all the information of the first official given a game id

In [7]:
from functions import get_first_official_by_game_id_complete

get_first_official_by_game_id_complete('0029600059')

'1140 Bruce Alexander 9'

### Function that returns the names and the id of the teams given a game id

In [8]:
from functions import get_team_names_and_id

# Esempio di utilizzo
game_id = '0029600114'
home_team, id_home_team, visitor_team, id_visitor_team = get_team_names_and_id(game_id)
print("Squadra di casa:", home_team)
print("Squadra in trasferta:", visitor_team)
print("Id squadra di casa:", id_home_team)
print("Id squadra in trasferta:", id_visitor_team)

Squadra di casa: Minnesota Timberwolves
Squadra in trasferta: New York Knicks
Id squadra di casa: MIN
Id squadra in trasferta: NYK

In [16]:
games_results[games_results['GAME_ID'] == '0022300066']

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
6,22023,1610612753,ORL,Orlando Magic,0022300066,2023-10-25,ORL vs. HOU,W,240,42,...,40,57,19,8,6,16,20,116,30,1
7,22023,1610612745,HOU,Houston Rockets,0022300066,2023-10-25,HOU @ ORL,L,240,32,...,24,31,19,6,3,19,24,86,-30,1

In [38]:
from nba_api.stats.endpoints import leaguegamelog
 
game_logs = leaguegamelog.LeagueGameLog(season = '2023-24')
games_results = game_logs.get_data_frames()[0]
games_results[games_results['GAME_ID'] == '0022300001']

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
146,22023,1610612739,CLE,Cleveland Cavaliers,0022300001,2023-11-03,CLE @ IND,L,240,44,...,30,35,27,10,9,13,20,116,-5,1
147,22023,1610612754,IND,Indiana Pacers,0022300001,2023-11-03,IND vs. CLE,W,240,45,...,33,40,28,7,5,19,18,121,5,1

In [36]:
from datetime import datetime
custom_datetime = datetime(2024, 5, 11, 19, 00).date()
now = datetime.now().date()
custom_datetime < now

False

In [10]:
get_first_official_by_game_id('0022301045')

'Tony Brothers'

In [11]:
get_officials_by_game_id('0022301045')

['Tony Brothers', 'CJ Washington', 'Aaron Smith']

In [4]:
get_first_official_by_game_id('0012300063')

'Tom Washington'

In [13]:
get_officials_by_game_id('0022301044')

['Josh Tiven', 'Andy Nagy', 'Jenna Schroeder']

# NBA schedule

In [1]:
import json
import pandas as pd

with open('schedule.json') as f:
    data = json.load(f)
calendar = pd.DataFrame(columns=['game_id', 'home_team_id', 'home_team_tricode', 'home_team_city', 'home_team_name', 'away_team_id', 'away_team_tricode','away_team_city', 'away_team_name', 'datetime'])
count = 0
for i in range(0, len(data['leagueSchedule']['gameDates'])):
    for j in range(0, len(data['leagueSchedule']['gameDates'][i]['games'])):
        data_ = data['leagueSchedule']['gameDates'][i]['games'][j]
        calendar.loc[count] = (data_['gameId'],
                        data_['homeTeam']['teamId'],
                        data_['homeTeam']['teamTricode'],
                        data_['homeTeam']['teamCity'],
                        data_['homeTeam']['teamName'],
                        data_['awayTeam']['teamId'],
                        data_['awayTeam']['teamTricode'],
                        data_['awayTeam']['teamCity'],
                        data_['awayTeam']['teamName'],
                        data_['gameDateTimeUTC']
                        )
        count = count + 1
calendar[:len(calendar)-6]

,game_id,home_team_id,home_team_tricode,home_team_city,home_team_name,away_team_id,away_team_tricode,away_team_city,away_team_name,datetime
0,0012300001,1610612750,MIN,Minnesota,Timberwolves,1610612742,DAL,Dallas,Mavericks,2023-10-05T16:00:00Z
1,0012300002,1610612742,DAL,Dallas,Mavericks,1610612750,MIN,Minnesota,Timberwolves,2023-10-07T16:00:00Z
2,0012300003,1610612744,GSW,Golden State,Warriors,1610612747,LAL,Los Angeles,Lakers,2023-10-08T00:30:00Z
3,0012300004,1610612749,MIL,Milwaukee,Bucks,1610612741,CHI,Chicago,Bulls,2023-10-08T17:00:00Z
4,0012300005,1610612765,DET,Detroit,Pistons,1610612756,PHX,Phoenix,Suns,2023-10-08T19:00:00Z
...,...,...,...,...,...,...,...,...,...,...
1303,0022301196,1610612760,OKC,Oklahoma City,Thunder,1610612742,DAL,Dallas,Mavericks,2024-04-14T19:30:00Z
1304,0022301197,1610612759,SAS,San Antonio,Spurs,1610612765,DET,Detroit,Pistons,2024-04-14T19:30:00Z
1305,0022301198,1610612744,GSW,Golden State,Warriors,1610612762,UTA,Utah,Jazz,2024-04-14T19:30:00Z
1306,0022301199,1610612746,LAC,LA,Clippers,1610612745,HOU,Houston,Rockets,2024-04-14T19:30:00Z
1307,0022301200,1610612758,SAC,Sacramento,Kings,1610612757,POR,Portland,Trail Blazers,2024-04-14T19:30:00Z

In [1]:
from functions import get_schedule

games = get_schedule()
games

,game_id,home_team_id,home_team_tricode,home_team_city,home_team_name,away_team_id,away_team_tricode,away_team_city,away_team_name,datetime
0,0022300061,1610612743,DEN,Denver,Nuggets,1610612747,LAL,Los Angeles,Lakers,2023-10-24T23:30:00Z
1,0022300062,1610612744,GSW,Golden State,Warriors,1610612756,PHX,Phoenix,Suns,2023-10-25T02:00:00Z
2,0022300063,1610612766,CHA,Charlotte,Hornets,1610612737,ATL,Atlanta,Hawks,2023-10-25T23:00:00Z
3,0022300064,1610612754,IND,Indiana,Pacers,1610612764,WAS,Washington,Wizards,2023-10-25T23:00:00Z
4,0022300065,1610612752,NYK,New York,Knicks,1610612738,BOS,Boston,Celtics,2023-10-25T23:00:00Z
...,...,...,...,...,...,...,...,...,...,...
1224,0022301190,1610612752,NYK,New York,Knicks,1610612741,CHI,Chicago,Bulls,2024-04-14T17:00:00Z
1225,0022301191,1610612753,ORL,Orlando,Magic,1610612749,MIL,Milwaukee,Bucks,2024-04-14T17:00:00Z
1226,0022301192,1610612755,PHI,Philadelphia,76ers,1610612751,BKN,Brooklyn,Nets,2024-04-14T17:00:00Z
1227,0022301193,1610612763,MEM,Memphis,Grizzlies,1610612743,DEN,Denver,Nuggets,2024-04-14T19:30:00Z
1228,0022301194,1610612750,MIN,Minnesota,Timberwolves,1610612756,PHX,Phoenix,Suns,2024-04-14T19:30:00Z

In [9]:
from nba_api.stats.endpoints import leaguegamelog
game_logs = leaguegamelog.LeagueGameLog(season = '2023-24')
games = game_logs.get_data_frames()[0]
games[(games['GAME_ID'] == '0022300062') & (games['MATCHUP'].str.contains('vs.'))]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
3,22023,1610612744,GSW,Golden State Warriors,0022300062,2023-10-24,GSW vs. PHX,L,240,36,...,31,49,19,11,6,11,23,104,-4,1

In [1]:
from nba_api.stats.endpoints import commonteamroster
import pandas as pd
commonteamroster.CommonTeamRoster(team_id=1610612744).get_data_frames()[0]

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED
0,1610612744,2023,00,Gary Payton II,Gary,gary-payton-ii,0,G,6-2,195,"DEC 01, 1992",31.0,7,Oregon State,1627780,Traded from POR on 02/09/23
1,1610612744,2023,00,Jonathan Kuminga,Jonathan,jonathan-kuminga,00,F,6-7,225,"OCT 06, 2002",21.0,2,NBA G League Ignite,1630228,#7 Pick in 2021 Draft
2,1610612744,2023,00,Brandin Podziemski,Brandin,brandin-podziemski,2,G,6-4,205,"FEB 25, 2003",21.0,R,Santa Clara,1641764,#19 Pick in 2023 Draft
3,1610612744,2023,00,Chris Paul,Chris,chris-paul,3,G,6-0,175,"MAY 06, 1985",39.0,18,Wake Forest,101108,Traded from WAS on 07/06/23
4,1610612744,2023,00,Moses Moody,Moses,moses-moody,4,G,6-5,211,"MAY 31, 2002",21.0,2,Arkansas,1630541,#14 Pick in 2021 Draft
5,1610612744,2023,00,Kevon Looney,Kevon,kevon-looney,5,F,6-9,222,"FEB 06, 1996",28.0,8,UCLA,1626172,#30 Pick in 2015 Draft
6,1610612744,2023,00,Klay Thompson,Klay,klay-thompson,11,G,6-6,220,"FEB 08, 1990",34.0,10,Washington State,202691,#11 Pick in 2011 Draft
7,1610612744,2023,00,Usman Garuba,Usman,usman-garuba,12,F,6-8,229,"MAR 09, 2002",22.0,2,Real Madrid,1630586,Signed on 09/25/23
8,1610612744,2023,00,Gui Santos,Gui,gui-santos,15,F,6-6,185,"JUN 22, 2002",21.0,R,Minas,1630611,#55 Pick in 2022 Draft
9,1610612744,2023,00,Jerome Robinson,Jerome,jerome-robinson,18,G,6-5,190,"FEB 22, 1997",27.0,3,Boston College,1629010,Signed on 09/07/22
10,1610612744,2023,00,Dario Saric,Dario,dario-saric,20,F-C,6-10,225,"APR 08, 1994",30.0,6,Anadolu Efes,203967,Signed on 07/12/23
11,1610612744,2023,00,Andrew Wiggins,Andrew,andrew-wiggins,22,F,6-7,197,"FEB 23, 1995",29.0,9,Kansas,203952,Traded from MIN on 02/06/20
12,1610612744,2023,00,Draymond Green,Draymond,draymond-green,23,F,6-6,230,"MAR 04, 1990",34.0,11,Michigan State,203110,#35 Pick in 2012 Draft
13,1610612744,2023,00,Lester Quinones,Lester,lester-quinones,25,G,6-4,208,"NOV 16, 2000",23.0,1,Memphis,1631311,Signed on 07/05/22
14,1610612744,2023,00,Stephen Curry,Stephen,stephen-curry,30,G,6-2,185,"MAR 14, 1988",36.0,14,Davidson,201939,#7 Pick in 2009 Draft
15,1610612744,2023,00,Trayce Jackson-Davis,Trayce,trayce-jackson-davis,32,F,6-9,245,"FEB 22, 2000",24.0,R,Indiana,1631218,Draft Rights Traded from WAS on 06/23/23
16,1610612744,2023,00,Pat Spencer,Pat,pat-spencer,61,G,6-3,205,"JUL 04, 1996",27.0,R,Northwestern,1630311,Signed on 07/23/22

In [17]:
def compute_starting_fp(player_stats):
    # Calcola i fantasy points utilizzando le statistiche disponibili e i coefficienti appropriati
    coeff_pts = 1.0
    coeff_reb = 1.2
    coeff_ast = 1.5
    coeff_stl = 3.0
    coeff_blk = 3.0
    coeff_to = -1.0

    fp = 0

    for index, row in player_stats.iterrows():
        fantasy_points = (row['PTS'] * coeff_pts +
                        row['REB'] * coeff_reb +
                        row['AST'] * coeff_ast +
                        row['STL'] * coeff_stl +
                        row['BLK'] * coeff_blk +
                        row['TO'] * coeff_to)
        fp = fp + fantasy_points

    return fp

In [3]:
from functions import get_starting_strength

# ID della squadra (esempio per i Los Angeles Lakers)
team_id = 1610612749

get_starting_strength(team_id)

ImportError: cannot import name 'get_starting_strength' from 'functions' (c:\Users\39345\OneDrive - Alma Mater Studiorum Università di Bologna\Desktop\UNIBO\SRS\NBA-PredictDB\functions.py)